<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="myBehavior">
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
				<behavior name="myBehavior2">
					<serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:1111/CalcServiceLibraryy/mex"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service name="MathServiceLibrary.MathService" behaviorConfiguration="myBehavior">
				<endpoint binding="basicHttpBinding" contract="MathServiceLibrary.IMathService"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:4444/MathService"/>
					</baseAddresses>
				</host>
			</service>
			<service name="CalcServiceLibrary.CalcService" behaviorConfiguration="myBehavior2">
				<endpoint address="http://localhost:5555/CalcService" binding="basicHttpBinding" bindingConfiguration=""
						  contract="CalcServiceLibrary.ICalcService" />
			</service>
		</services>
	</system.serviceModel>
</configuration>