<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<client>
			<endpoint name="MathService" address="http://localhost:4444/MathService" binding="basicHttpBinding"
					  contract="MathServiceLibrary.IMathService" />
			<endpoint name="CalcService" address="http://localhost:5555/CalcService" binding="basicHttpBinding"
					  contract="CalcServiceLibrary.ICalcService" />
		</client>
	</system.serviceModel>
</configuration>